# Ignore any data files - they are too large to commit 
*.root
# Ignore Object files - they are not necessary to commit
*.o
# Ignore the vscode dir 
.vscode/
#Ignore the Sidequests file 
*Side*.txt
# Ignore images
*.png
*.svg
*.jpg
*.pdf
